
  <!-- <div class="col-sm-5" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <div class="row">
      <div class="col-md-4">
        <button (click)="randomize()">Click here</button>
      </div>
      <div class="col-md-4">
          <button (click)="randomize()">Click here</button>
        </div>
        <div class="col-md-4">
            <button (click)="randomize()">Click here</button>
          </div>
    </div>
  </div> -->
  
      <div style="display: block; text-align: center;justify-content: center">
      <canvas baseChart class="my-chart"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
      </div>
  
