.gauge-container{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    width: 80%;
    margin-left: 10%;
}


.gauge-text{
    position: relative;
    width: 100%;
    margin-top: -60px;
    font-size: 20px;
}

.gauge-value{
    width: 25%;
    background-color: transparent;
    font-size: 14px;
    box-shadow: 0px 0px 0px 0px;
    text-align: center;
    border:none;
}

.gauge-value::placeholder{
    color:#333;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
