<div class="gauge-container">
  <kendo-radialgauge [pointer]="{ value: value,color:'#f8f8f8 ',display:'none'}" [transitions]="false" style="display:block;height:100px;">
    <kendo-radialgauge-scale [minorUnit]="5" [majorUnit]="10" [max]="100" [rangeSize]="5" [majorTicks]="{ visible: true }"
    [minorTicks]="{ visible: true }">
        <kendo-radialgauge-scale-labels [visible]="false">
        </kendo-radialgauge-scale-labels>
        <kendo-radialgauge-scale-ranges>
          <kendo-radialgauge-scale-range *ngIf='gaugeValue >= 1' [from]="0" [to]="10" color="#13005b">
          </kendo-radialgauge-scale-range>
          <kendo-radialgauge-scale-range [from]="10" [to]="20" *ngIf='gaugeValue >= 10' color="#1f0191">
          </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="20" [to]="30" *ngIf='gaugeValue >= 20' color="#2a00cc">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="30" [to]="40" *ngIf='gaugeValue >= 30' color="#0000ff">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="40" [to]="50"  *ngIf='gaugeValue >= 40' color="#005dba">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="50" [to]="60"  *ngIf='gaugeValue >= 50' color="#0095b7">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="60" [to]="70"  *ngIf='gaugeValue >= 60' color="#00a8a5">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="70" [to]="80" *ngIf='gaugeValue >= 70'  color="#00a889">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="80" [to]="90"  *ngIf='gaugeValue >= 80' color="#00a86a">
            </kendo-radialgauge-scale-range>
            <kendo-radialgauge-scale-range [from]="90" [to]="100"  *ngIf='gaugeValue >= 90' color="#00a832">
            </kendo-radialgauge-scale-range>
          </kendo-radialgauge-scale-ranges>
        </kendo-radialgauge-scale>
      </kendo-radialgauge>
      <div class="gauge-text">
        <input type="number" class="gauge-value" [(ngModel)]="gaugeValue" (focusout)='changeValue()'/>
      </div>
</div>
