img{
    width: 90%;
    position: absolute;
    top: 3px;
}
body{
  margin: 0;
}
.my-container{
    position: fixed;
    top:10px;
    width:95% !important;
    margin-left: 2.5%;
}
.my-toolbar{
    background-color: white;
}

.my-tabs{
    padding-top: 5px;
    padding-left: 0px;
    border-bottom: 2px solid #2b0a9f;
}

.nav-link {
    font-size: 13px;
    color:#666;
    font-weight: 500;
}

.first-link{
    padding-left: 0px;
}

.active-first{
    background-color: #2b0a9f;
    color:white;
    padding-left:10px;
}

.active{
    background-color: #2b0a9f;
    color:white;
}

.nav-link:hover {
    color: #2b0a9f;
}
.active:hover {
    color: #fff;
}
.active-first:hover {
    color: #fff;
}

.button-fixed{
    right: 0px !important;
}


