<div class="my-container">   
  <div class="row">
      <div class="col col-md-4 col-sm-4">
        <img src="../assets/imgs/logo.png"/>
      </div>
  
      <div class="col col-md-8   col-sm-8 my-tabs">
        <ul class="nav">
          <li class="nav-item">
              <a class="{{classes[0]}}" href="#!" (click)='changeView(0)'>Comunication Billboard</a>
          </li>
          <li class="nav-item justify-content-left">
              <a class="{{classes[1]}}" href="#!" (click)='changeView(1)'>Study Cases</a>
          </li>
          <li class="nav-item justify-content-left">
              <a class="{{classes[2]}}" href="#!" (click)='changeView(2)'>Change Password</a>
          </li>
        </ul>
      </div>
  </div>
  <div *ngIf='current_view.id == 0'>
    Billboard
  </div>
  <div *ngIf='current_view.id == 1'>
      <app-form></app-form>
  </div>
  <div *ngIf='current_view.id == 2'>
    Password
   </div>
</div>
<!-- 
<button class="button-fixed"  (click)="openDialog()"> Calculation Log </button>
<button class="button-fixed"  (click)="test()"> Test service </button> -->
