<p>
  For the filter 'Varicel II 2000cfm ASHRAE' the Dp vs W polynomial coeficients are:<br><br>
  {{data.poly[0]}} x3 + <br>
  {{data.poly[1]}} x2 + <br>
  {{data.poly[2]}}  x + <br>
  {{data.poly[3]}}

  <br><hr>For the same filter the W vs Dp function coeficients are:<br><br>
  e = [{{data.inverse[0]}}] <br>
  f = [{{data.inverse[1]}}] <br>
  g = [{{data.inverse[2]}}] <br>
  h = [{{data.inverse[3]}}] <br>
  <!-- f = [{{data.inverse[1]}}]<br>
  g = [{{data.inverse[2]}}]<br>
  h = [{{data.inverse[3][0]}},{{data.inverse[3][1]},{{data.inverse[3][2]},{data.inverse[3][3]}]<br>
   -->
</p>
