/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-horizontal-stepper-header-container{
    margin-bottom: 20px; 
  }
  
  .mat-horizontal-stepper-header{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: -15px;
  }
  .mat-step-label{
    position: relative;
    top: 10px;
  }
  
  .mat-stepper-horizontal-line{
   margin: 0 -30px !important;
  }
  
  .mat-horizontal-stepper-header .mat-step-icon, .mat-horizontal-stepper-header .mat-step-icon-not-touched{
    margin-right: 0 !important;
  }

  .mat-select-value-text{
    color:#2b0a9f;
  }
  