/* ICON */
.mat-icon{
    background-color:#2b0a9f;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
/* SELECT */
.select-options{
    color:#2b0a9f
}

/* DIVIDER */
.top-divider{
    margin-top: 10px;
}

.last-row{
    width: 74%;
}


.right-content{
    text-align: right !important;
    padding-right: 0px;
}

/* ROTATION DIV */
.col-rotate{
    max-width: 4.5%;
    padding-left:10px;
    padding-bottom: 10px;
    background-color: #2b0a9f;
    color:white;
}

.text-rotate{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding:0px;
    margin-left:0px;
    margin-top: 20px;
    font-size: 13px;
}

/* SIZE ROW */

.input-size{
    width: 100% !important;
    text-align: center;
    padding-left: 0px !important;

}
.col-size{
    padding: 0px;
}

.col-divider-active{
    color:#2b0a9f;
    padding: 0px;
}

.col-divider{
    color:#666;
    padding: 0px;
}

.label-center{
    text-align: center !important;
    margin-bottom: -5px;
}


/* BUTTON EDIT GAUGE */
.edit-btn{
    border:none;
    background-color: transparent;
    font-size: 12px;
    color:#2b0a9f;
    font-weight: 500;
    padding:0px;
    margin-bottom: 10px;    
    text-decoration: underline;
}

/* TOGGLE */

.toggle-options{
    padding:0px;
}

.col-toggle{
    text-align: left;
    padding: 0px;
    padding-top: 17px;
    padding-left: 9px;
    margin-bottom: -5px;
}


/* INPUTS */
.input-number{
    margin-top: -10px;
    height: 30px;
    max-width: 30px;
    padding-top: 10px;
    background-color: transparent;
    border-radius: 0px;
    text-align: center;
    border:none;
    border-bottom:1px dotted #2b0a9f;
    font-size: 12px;
    font-weight: 500;
    color:#2b0a9f;
}

.input-small{
    width: 25%;
}

.input-left{
    margin-left: -30% !important;
}

.input-small:focus{
    outline:1.5px solid #2b0a9f;
}

.section-subtitle{
    font-size: 14px !important;
    font-weight: 700 !important;
}

.input-row{
    background-color: #fff;
    width: 30%;
    margin-left: 0px;
    padding-top:0px;
    border:0.5px solid #666;
    height: 30px;
}

.input-hint:focus{
    outline: none;
}

.input-hint{
    border:none;
    text-align: right;
    padding-right: 2px;
    width: 65%;
    font-size: 12px;
    font-weight: 500;
    color:#2b0a9f;
}

.label-stacked{
    padding-top: 10px;
    padding-left: 2px;
    font-size: 9px;
    color:#999;
}

.subtitle{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    text-align: left;
    padding-left: 15px;
}

.input-number:focus{
    outline: none;
}

.dates{
    margin-top:9px
}

.col-info{
    padding-right: 0px;
    padding-left: 15px;
}

.col-dates{
    padding:0px;
}

.column-form{
    background-color: #f8f8f8;
    height: 450px;
    padding: 0px;
    box-shadow: 0px 2px 0px 0px #e3e3e3 !important;
}

/* BUTTON GROUP */

.btn-group{
    width: 30%;
    font-size: 12px;
    color:#999;
    height: 40px;
    text-align: center;
    justify-content: center;
    background-color: white;
    border:1px solid #ccc;
    padding-left:0px;
}

.btn-middle{
    border-left:none;
    border-right: none;
}   

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 3px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: -2px;
    bottom: -6px;
    background-color: navy;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: navy;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .btn-active{
      border:2px solid #2b0a9f;
  }

  .cost-label{
      position: absolute;
      top:8px;
      right: 5px;
      font-size: 12px;
      color:#ccc;

  }

  .row-center{
    justify-content: center;
    padding: 0px;
    width: 100%;
    height: 75%;
  }

  .btn-chart{
      width: auto !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      font-weight: 500;
      color:#000;
  }

  .cost{
      color:green; 
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

.table-list-item{
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.result-tittle{
    text-align: center;
    border-bottom:solid 1px #999;
    width: 20%;
    margin-left: 40%;
    padding-bottom: 15px;
    font-size: 16px;

}

.savings{
    font-size: 96px;
    font-weight: 100;
    color:#7ace61;
    text-align: left;
}

.saving-container{
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
    height: auto;
    box-shadow: 0px 1px 0px 0px #ccc;
    margin-left: 0px;
    width: 80%;
    position: absolute;
    bottom: 6px;
}
.saving-right{
    position: absolute;
    right: 15px;
    top: 0px;
}


.compare-title{
    text-align: left;
    margin-left: 10%;
    text-decoration: underline;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #2b0a9f;
}

.full{
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    position: relative !important;
    width: 90%;
}

.saving-container > p{
    margin: 0px;
}
.saving-number{
    color:#7ace61;
    font-weight: 500;
    font-size: 18px;
    padding: 0px;
}

.result-description{
    font-size: 13px;
    color:#999;
    text-align: center;
    width: 70%;
    margin-left: 20%;
}

.gauge-text{
    width: 25%;
    background-color: transparent;
    font-size: 15px;
    z-index: 99;
    box-shadow: 0px 0px 0px 0px;
    text-align: center;
    border:1px solid red;
    margin-top: -20px;
}

.gauge-text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333 !important;
    opacity: 1; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.container{
    margin-top: 17px;
    width: 100%;
    display: flex;
    height: 80vh;
    justify-content: center;
    text-align:center;
}

.item{
   align-self: center;
}


/* Classes */

/* --- SIDE BUTTONS --- */
.side-button{
    position: fixed;
    height: 60%;
    text-align: center;
    justify-content: center;
    border:1px solid #2b0a9f;
    top:19%;
    cursor: pointer;
}

.side-button:hover{
    background-color: #f3f3f3;
}

.side-button-left{
    border-left: none;
    left: 0px;
}

.side-button-right{
    border-right: none;
    right: 0px;
}


.side-button-text{
    color:#2b0a9f;
    text-transform: uppercase;
    height:100%;
    font-size: 12px;
    font-weight: 500;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}




/* --- FOOTER --- */
.footer-view{
    position: fixed;
    width: 100%;
    margin-left: 0%;
    bottom: 0px;
    background-color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 13px;
    color:#666;
}

.col-footer{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.footer-text-active{
    cursor: pointer;
    color:#2b0a9f;
    font-weight: 600;
    font-size: 13px;
}

.footer-text{
    cursor: pointer;
}

.footer-text:hover{
    color:#2b0a9f;
}

.footer-icon-active{
    visibility: visible;
    color:#2b0a9f;
}

.footer-icon{
    visibility: hidden;
    color:#fff;
}

/* --- FORMS --*/

.form-content{
    background-color: #f8f8f8;
    height: auto;
}


.form-header{
    background-color: white;
    color:black;
    font-size: 16px;
    font-weight: 800 !important;
    padding: 10px 0px 5px 0px;
    text-align:center;
    border-bottom:2px solid #ddd;
}

.form-information{
    text-align: left;
    justify-content: left;
    padding:10px;
    padding-left: 15px;
    border-bottom: 2px solid #ddd;
}

.form-column{
    padding:0px;
    margin-right: 1%;
    text-align:center !important; 
    background-color: #f8f8f8;
    border-bottom:2px solid #ddd;
}

.form-section{
    padding:10px;
    padding-left: 15px;
    box-shadow: 0px 2px 0px 0px #e3e3e3 !important;
}


.form-label{
    font-size: 12px;
    color:#000;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-select{
    background-color: white;
    border:0.5px solid #666;
    width: 70%;
    height: 35px;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 13px;
    color:#2b0a9f;
}

.form-input{
    height: 35px;
    border-radius: 0px;
    padding-left: 10px;
    border:0.1px solid #666;
    width: 70%;
    font-size: 12px;
    font-weight: 500;
    color:#2b0a9f;
}

.form-textarea{
    font-size: 12px;
    font-weight: 500;
    color:#2b0a9f;
    border-radius: 0px;
    border:0.1px solid #666;
    width: 70%;
}

/* RESULT */
.results{
    margin-top: 8%;
    justify-content: center;
    overflow-y: scroll;
    height: 65vh;
}

/* LOADER */
.loader{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.medium{
    font-size: 48px;
}

.spinner-container{
    text-align: center;
    padding-top: 10%;
}

.top-spinner{
    padding-top: 2%;
}


.my-spinner{
    margin-left: 40%;
    margin-top: 10%;
}
.main-spinner{
    margin-left: 30%;
    margin-top: 5%;
}