<div class="container" *ngIf='step!=5'>
    <!-- FIRST STEP FORM -->
    <div class="item form-content" *ngIf='step==1'>
      <div class="row" >
        <div class="col col-md-1 col-sm-1 col-rotate" style="max-width:8.3%;padding-left:2px;margin-right: 0px;">
          <p class="text-rotate">CLIENT INFORMATION</p>
        </div>
        <div class="col col-11 col-md-11" style="padding-left:0px">
          <div class="form-header">
            <h6 style="padding-left:15px">Company and Contact Information:</h6>
          </div>
          <div class="form-information">
            <p class="form-label">Company name:</p>
            <input class="form-input" [(ngModel)]='company_data.name' type="text"/>
            <br>
            <p class="form-label top-divider">Contact name:</p>
            <input class="form-input" [(ngModel)]='company_data.contact' type="text"/>
            <p class="form-label top-divider">Address:</p>
            <textarea class="form-textarea md-textarea form-control" rows="3" [(ngModel)]='company_data.address'></textarea>
            <p class="form-label top-divider">Email:</p>
            <input class="form-input" [(ngModel)]='company_data.email' type="text"/>
            <div class="row last-row">
              <div class="col col-md-8 col-sm-6">
                  <p class="form-label top-divider">Phone:</p>
                  <input class="form-input inner-input" [(ngModel)]='company_data.phone' type="text"/>
              </div>
              <div class="col col-md-4 col-sm-6 right-content"  >
                  <p class="form-label top-divider">Zip Code:</p>
                  <input class="form-input inner-input" [(ngModel)]='company_data.zipCode' type="text"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECOND STEP FORM -->
    <div class="row item row-center" *ngIf='step==2'>
      <div class="col col-md-1 col-sm-1 col-rotate"> 
        <p class="text-rotate">CUSTOMER FILTRATION SYSTEM</p>
      </div>
      <div class="col col-3 form-column"> 
        <div class="form-header">
          <h6 style="padding-left:10px;">System operation</h6>
        </div>
        <div class="form-section">         
          <div class="row">
            <div class="col col-7 col-info">
              <p class="form-label dates"><b>Months</b> per year:</p>
            </div>
            <div class="col col-2 col-dates">
              <input class="input-number" [(ngModel)]='system.months_per_year' (focusout)="validateMonth()" type="number"/>
            </div>
          </div>    
          <div class="row">
            <div class="col col-7 col-info">
              <p class="form-label dates"><b>Days</b> per month:</p>
            </div>
            <div class="col col-2 col-dates">
              <input class="input-number" [(ngModel)]='system.days_per_month' (focusout)="validateDays()" type="number"/>
            </div>
          </div>
          <div class="row">
            <div class="col col-7 col-info">
              <p class="form-label dates"><b>Hours</b> per day:</p>
            </div>
            <div class="col col-2 col-dates">
              <input class="input-number" [(ngModel)]='system.hours_per_day' (focusout)="validateHours()" type="number"/>
            </div>
          </div>
        </div>


         
          <div class="form-section">
            <p class="form-label section-subtitle">Average change-out cycle</p>
            <div class="row">
              <div class="col col-3 col-info">
                <p class="form-label dates">Every:</p>
              </div>
              <div class="col col-1 col-dates">
                <input class="input-number" [(ngModel)]='system.replacement_cycle' (focusout)='validateCycle()' type="number"/>
              </div>
              <div class="col col-2 col-info" style="margin-left:2%">
                  <p class="form-label dates">  month(s)</p>
                </div>
            </div>
          </div>
          
          <div style="padding-left:15px;justify-content: left">
              <p class="form-label top-divider">Number of filters in system:</p>
              <input class="form-input input-small input-left" [(ngModel)]='system.filters_number' (focusout)='validateNumFilters()' type="number"/>
              <br><br>
              <p class="form-label">Industry Type:</p>
              <div style="margin-left:-10px !important">
                  <button type="button" class="btn-group {{btn_class[0]}}" (click)='setTypeIndustry(1)'>1</button>
                  <button type="button" class="btn-group btn-middle {{btn_class[1]}}" (click)='setTypeIndustry(2)'>2</button>
                  <button type="button" class="btn-group {{btn_class[2]}}" (click)='setTypeIndustry(3)'>3</button>
              </div>
          </div>
        
      </div>
      <div class="col form-column" style="padding-right:8px">
        <div class="form-header">
          <h6 style="text-align:center">Efficiency</h6>
        </div>
        <div>
          <p class="form-label label-center top-divider">Motor</p>
          <app-gauge value={{system.motor_efficiency}} (set)="changeValue($event,0)"></app-gauge>
          <button type="button" class="edit-btn">Edit</button>
        </div>
        <div>
            <p class="form-label label-center top-divider">Driver</p>
            <app-gauge value={{system.drive_efficiency}} (set)="changeValue($event,1)"></app-gauge>
            <button type="button" class="edit-btn">Edit</button>
          </div>
          <div>
              <p class="form-label label-center top-divider">Fan</p>
              <app-gauge value={{system.fan_efficiency}} (set)="changeValue($event,2)"></app-gauge>
              <button type="button" class="edit-btn">Edit</button>
            </div>
      </div>
      <div class="col form-column">
        <div class="form-header">
          <h6 style="text-align:center">CO2</h6>
        </div>
        <div  style="height: 396.3px; background-color: #f8f8f8;padding-top:10px">
            <div style="padding-left:15px; justify-content: left; text-align: left" >
                <p class="form-label">Local CO2 emission:</p>
                <div class="row input-row">
                  <input class="input-hint" [(ngModel)]='system.co2_emission' type="number" (focusout)='validateCoEmission()'/>
                  <p class="label-stacked">lb</p>
                </div>
                <p class="form-label top-divider">Energy cost:</p>
                <div class="row input-row">
                  <input class="input-hint" [(ngModel)]='system.energy_cost' type="number" (focusout)='validateCost()'/>
                  <p class="label-stacked">$</p>
                </div>
                <br><br>
                <p class="form-label">Comments:</p>
                <textarea class="form-textarea md-textarea form-control" [(ngModel)]='system.comments' style="width:80%" rows="8"></textarea>
              
            </div>
        </div>
      </div>
      <div class="col col-3 form-column">
        <div class="form-header">
          <h6 style="text-align:center">Airflow</h6>
        </div>
        <div class="form-section">
          <div class="row">
            <div class="col col-6 col-info">
              <p class="form-label dates">Variable airflow</p>
            </div>
            <div class="col col-1 toggle-options">
                <p class="form-label dates">No</p>
              </div>
            <div class="col col-2 col-toggle">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]='system.variable_airflow' [checked]='system.variable_airflow'>
                  <span class="slider round"></span>
                </label>
            </div>
            <div class="col col-1 col-info" style="margin-left:2%">
                <p class="form-label dates">  Yes</p>
              </div>
          </div>
        </div>
        <h5 class="subtitle">Fan Blades are:</h5>
        <div class="row" style="padding-left:15px;padding-right:10px">
            <div class="col col-6 col-info">
              <p class="form-label dates">Backward inclined</p>
            </div>
            <div class="col col-1 toggle-options">
                <p class="form-label dates">No</p>
              </div>
            <div class="col col-2 col-toggle">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]='system.backward_fan' [checked]='system.backward_fan'>
                  <span class="slider round"></span>
                </label>
            </div>
            <div class="col col-1 col-info" style="margin-left:2%">
                <p class="form-label dates">  Yes</p>
              </div>
          </div>
          <div class="row" style="padding-left:15px;padding-right:10px">
              <div class="col col-6 col-info">
                <p class="form-label dates">Forward inclined</p>
              </div>
              <div class="col col-1 toggle-options">
                  <p class="form-label dates">No</p>
                </div>
              <div class="col col-2 col-toggle">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]='system.forward_fan' [checked]='system.forward_fan'>
                    <span class="slider round"></span>
                  </label>
              </div>
              <div class="col col-1 col-info" style="margin-left:2%">
                  <p class="form-label dates">  Yes</p>
                </div>
            </div>
            <div class="row" style="padding-left:15px;padding-right:10px">
                <div class="col col-6 col-info">
                  <p class="form-label dates">Radial</p>
                </div>
                <div class="col col-1 toggle-options">
                    <p class="form-label dates">No</p>
                  </div>
                <div class="col col-2 col-toggle">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]='system.radial_fan' [checked]='system.radial_fan'>
                      <span class="slider round"></span>
                    </label>
                </div>
                <div class="col col-1 col-info" style="margin-left:2%">
                    <p class="form-label dates">  Yes</p>
                </div>
            </div>
            <div style="padding-left:15px; justify-content: left; text-align: left" >
                <p class="form-label top-divider">Airflow:</p>
                <div class="row input-row">
                  <input class="input-hint" [(ngModel)]='system.airflow_per_filter ' type="number" (focusout)='validateAirflow()'/>
                  <p class="label-stacked">cfm</p>
                </div>
                <br>
                <p class="form-label top-divider">Current total air flow:</p>
                <div class="row input-row">
                  <input class="input-hint" [(ngModel)]='system.total_airflow' type="number" (focusout)='validateCurrentAirflow()'/>
                  <p class="label-stacked">cfm</p>
                </div>
                <br>
            </div>
        </div>
      </div>
    <!-- END SECON STEP -->

    <!-- THIRD STEP -->
    <div class="row item row-center" *ngIf='step==3'>
      <div class="col col-md-1 col-sm-1 col-rotate"> 
        <p class="text-rotate">CURRENT FILTER</p>
      </div>
      <div class="col col-5 form-column"> 
        <div class="form-header">
          <h6 style="text-align:left;padding-left:15px">Filter Information</h6>
        </div>
        <div class="row" style="padding:0px;margin-top:10px">
          <div class="col col-6" style="padding:0px">
              <p class="form-label" style="padding-left:14%">Filter:</p>
              <mat-select class="form-select" [(ngModel)]='current_filter.filter_name' (selectionChange)="setFilterValues($event)">
                <mat-option class="select-options" *ngFor="let mf of modelFilters" [value]="mf" >
                  {{mf.short_name}}
                </mat-option>
              </mat-select>
              <br>
              <p class="form-label top-divider" style="padding-left:14%">Manufacturer:</p>
              <input class="form-input" [(ngModel)]='current_filter.manufacturer' style="margin-left:-5px" type="text"/>
              <br>
              <p class="form-label top-divider" style="padding-left:14%;margin-top: 15px">MERV rating:</p>
              <input class="form-input" [(ngModel)]='current_filter.merv_rating' style="margin-left:-5px" type="text"/>
              <br>
              <p class="form-label top-divider" style="padding-left:14%;margin-top: 15px">Nominal size:</p>
              <div class="row" style="margin-left: 14%; width: 95%;">
                <div class="col col-2 col-size">
                  <input class="form-input input-size" [(ngModel)]='current_filter.height' (focusout)='validateHeight()' type="number" placeholder="H"/>
                </div>
                <div class="col col-1 col-size">
                  <p style="margin-top:4px;font-size:14px">x</p>
                </div>
                <div class="col col-2 col-size">
                  <input class="form-input input-size" [(ngModel)]='current_filter.width' (focusout)='validateWidth()' type="number" placeholder="W"/>
                </div>
                <div class="col col-1 col-size">
                  <p style="margin-top:4px;font-size:14px">x</p>
                </div>
                <div class="col col-2 col-size" >
                  <input class="form-input input-size" [(ngModel)]='current_filter.length' (focusout)='validateLength()' type="number" placeholder="L"/>
                </div>
              </div>
              <p class="form-label top-divider" style="padding-left:14%"> Part number:</p>
              <input class="form-input inner-input" [(ngModel)]='current_filter.part_number' style="margin-left:-21%;width: 50%" type="text"/>
          </div>
          <div class="col col-6" style="text-align:left;padding: 0px">
            <p class="form-label">Filter Type:</p>
            <input class="form-input" [(ngModel)]='current_filter.filter_type' type="text"/>
            <br>
            <p class="form-label top-divider">Frame Type:</p>
            <input class="form-input" [(ngModel)]='current_filter.frame_type' type="text"/>
            <br>
            <div class="row" style="padding-right:10px;margin-top: 10px;">
              <div class="col col-5 col-info">
                <p class="form-label dates">Incinarable</p>
              </div>
              <div class="col col-1 toggle-options">
                  <p class="form-label dates">No</p>
                </div>
              <div class="col col-2 col-toggle">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]='current_filter.incinarable'>
                    <span class="slider round"></span>
                  </label>
              </div>
              <div class="col col-1 col-info" style="margin-left:2%">
                  <p class="form-label dates">  Yes</p>
              </div>
            </div>
            <div class="row" style="padding-right:10px;margin-top: 5px">
              <div class="col col-5 col-info">
                <p class="form-label dates">UL 900 compliant</p>
              </div>
              <div class="col col-1 toggle-options">
                  <p class="form-label dates">No</p>
                </div>
              <div class="col col-2 col-toggle">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]='current_filter.ul_compliant'>
                    <span class="slider round"></span>
                  </label>
              </div>
              <div class="col col-1 col-info" style="margin-left:2%">
                  <p class="form-label dates">  Yes</p>
              </div>
            </div>
            
            <div style="padding-right:15px;margin-top:15px">                  
              <p class="form-label top-divider">Average Dp  of filter when changed:</p>
              <div class="row input-row">
                <input class="input-hint" [(ngModel)]='current_filter.average_pressure_drop ' type="text"/>
                <p class="label-stacked">inch</p>
              </div>
            </div>
            <p class="form-label top-divider"> Cost per filter:</p>
            <input class="form-input inner-input" [(ngModel)]='current_filter.filter_cost' style="width: 50%" type="number"/>
          </div>
        </div>
      </div>
      <div class="col col-5 form-column">
        <div class="form-header">
          <h6 style="text-align:left;padding-left: 15px" >Additional Cost</h6>
        </div> 
        <div  style="padding-top:10px;padding-left: 15px">
            <div class="row" style="width:100%;padding-left:15px;margin-bottom: 10px">
              <div class="col col-9" style="padding:0px;padding-right:5px">
                  <p class="form-label">Labor cost to change out complete filter set:</p>
              </div>
              <div class="col col-3" style="padding:0px" >
                  <input class="form-input" style="width:100%;text-align: center;padding-left: 0px" 
                  type="number" [(ngModel)]='current_filter.aditional_costs[0]' (focusout)='validateAdditionalCost(0)'/>
                  <label class="cost-label">$</label>
              </div>
            </div>
            <div class="row" style="width:100%;padding-left:15px;margin-bottom: 10px">
              <div class="col col-9" style="padding:0px;padding-right:5px">
                  <p class="form-label">Freight cost of filter set at time of acquisition:</p>
              </div>
              <div class="col col-3" style="padding:0px" >
                  <input class="form-input" style="width:100%;text-align: center;padding-left: 0px" type="number"
                  [(ngModel)]='current_filter.aditional_costs[1]' (focusout)='validateAdditionalCost(1)'/>
                  <label class="cost-label">$</label>
              </div>
            </div>
            <div class="row" style="width:100%;padding-left:15px;margin-bottom: 15px">
                <div class="col col-9" style="padding:0px;padding-right:5px;padding-top: 5px">
                    <p class="form-label">Disposal cost of filter set:</p>
                </div>
                <div class="col col-3" style="padding:0px" >
                    <input class="form-input" style="width:100%;text-align: center;padding-left: 0px" type="number"
                    [(ngModel)]='current_filter.aditional_costs[2]' (focusout)='validateAdditionalCost(2)'/>
                    <label class="cost-label">$</label>
                </div>
              </div>
              
                <div class="row" style="width:100%;padding-left:15px;margin-bottom: 15px">
                    <div class="col col-9" style="padding:0px;padding-right:5px;padding-top: 5px">
                        <p class="form-label">Other costs per cycle:</p>
                        
                    </div>
                    <div class="col col-3" style="padding:0px" >
                        <input class="form-input" style="width:100%;text-align: center;padding-left: 0px" type="number"
                        [(ngModel)]='current_filter.aditional_costs[3]' (focusout)='validateAdditionalCost(4)'/>
                        <label class="cost-label">$</label>
                    </div>
                  </div>
                  <hr>
                  <div class="row" style="width:100%;padding-left:15px;margin-bottom: 15px">
                      <div class="col col-9" style="padding:0px;padding-right:5px;padding-top: 5px">
                          <p class="form-label">Administrative cost of filter set:</p>
                      </div>
                      <div class="col col-3" style="padding:0px" >
                          <input class="form-input" style="width:100%;text-align: center;padding-left: 0px" type="number"
                          [(ngModel)]='current_filter.aditional_costs[4]' (focusout)='validateAdditionalCost(3)'/>
                          <label class="cost-label">$</label>
                      </div>
                    </div>
                  <div class="row" style="width:100%;padding-left:15px;margin-bottom: 10px">
                      <div class="col col-9" style="padding:0px;padding-right:5px;padding-top: 5px">
                          <p class="form-label">Other yearly costs:</p>
                      </div>
                      <div class="col col-3" style="padding:0px" >
                          <input class="form-input" style="width:100%;text-align: center;padding-left: 0px" type="number"
                          [(ngModel)]='current_filter.aditional_costs[5]' (focusout)='validateAdditionalCost(5)'/>
                          <label class="cost-label">$</label>
                      </div>
                    </div>
          </div>     
      </div>  
    </div>
    <!-- END THIRD STEP -->

    <!-- FOURTH STEP -->
    <div class="row item row-center" *ngIf='step==4'>
      <div class="col col-md-1 col-sm-1 col-rotate"> 
        <p class="text-rotate">PROPOSED FILTER</p>
      </div>
      <div class="col form-column col-6">
        <div class="form-header">
          <h6 style="text-align:left;padding-left:15px">Filter Information</h6>
        </div>
        <div  style="padding-top:10px">
          <div class="row" style="padding:0px">
            <div class="col col-6" style="padding:0px">
                <p class="form-label" style="padding-left:14%">Filter:</p>
                <mat-select class="form-select" [(ngModel)]='proposed_filter.filter_name' (selectionChange)="setProposedFilter($event)">
                  <mat-option class="select-options" *ngFor="let mf of modelFilters" [value]="mf" >
                    {{mf.short_name}}
                  </mat-option>
                </mat-select>
                <br>
                <p class="form-label top-divider" style="padding-left:14%">Manufacturer:</p>
                <input class="form-input" [(ngModel)]='proposed_filter.manufacturer' style="margin-left:-5px" type="text"/>
                <br>
                <p class="form-label top-divider" style="padding-left:14%">Filter Type:</p>
                <input class="form-input" [(ngModel)]='proposed_filter.filter_type' type="text"/>
                <br>
                <p class="form-label top-divider" style="padding-left:14%;margin-top: 15px">Nominal size:</p>
                <div class="row" style="margin-left: 14%; width: 95%;">
                  <div class="col col-2 col-size">
                    <input class="form-input input-size" [(ngModel)]='proposed_filter.height' (focusout)='validateHeight()' type="number" placeholder="H"/>
                  </div>
                  <div class="col col-1 col-size">
                    <p style="margin-top:4px;font-size:14px">x</p>
                  </div>
                  <div class="col col-2 col-size">
                    <input class="form-input input-size" [(ngModel)]='proposed_filter.width' (focusout)='validateWidth()' type="number" placeholder="W"/>
                  </div>
                  <div class="col col-1 col-size">
                    <p style="margin-top:4px;font-size:14px">x</p>
                  </div>
                  <div class="col col-2 col-size" >
                    <input class="form-input input-size" [(ngModel)]='proposed_filter.length' (focusout)='validateLength()' type="number" placeholder="L"/>
                  </div>
                </div>
                <p class="form-label top-divider" style="padding-left:14%"> Part number:</p>
                <input class="form-input inner-input" [(ngModel)]='proposed_filter.part_number' style="margin-left:-21%;width: 50%" type="text"/>
            </div>
            <div class="col col-6" style="text-align:left;padding: 0px">
              <div class="row" style="padding-right:10px;margin-top:0px;">
                <div class="col col-5 col-info">
                  <p class="form-label dates">Incinarable</p>
                </div>
                <div class="col col-1 toggle-options">
                    <p class="form-label dates">No</p>
                  </div>
                <div class="col col-2 col-toggle">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]='proposed_filter.incinarable'>
                      <span class="slider round"></span>
                    </label>
                </div>
                <div class="col col-1 col-info" style="margin-left:2%">
                    <p class="form-label dates">  Yes</p>
                </div>
              </div>
              <div class="row" style="padding-right:10px;margin-top: 5px">
                <div class="col col-5 col-info">
                  <p class="form-label dates">UL 900 compliant</p>
                </div>
                <div class="col col-1 toggle-options">
                    <p class="form-label dates">No</p>
                  </div>
                <div class="col col-2 col-toggle">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]='current_filter.ul_compliant'>
                      <span class="slider round"></span>
                    </label>
                </div>
                <div class="col col-1 col-info" style="margin-left:2%">
                    <p class="form-label dates">  Yes</p>
                </div>
              </div>
              <hr style="width:90%;margin-left:0%;">
            
              <p class="form-label top-divider"> Cost per filter:</p>
              <input class="form-input inner-input" [(ngModel)]='proposed_filter.filter_cost' style="width: 50%" type="number"/>
              <br>
              <p class="form-label top-divider"> Replace cost:</p>
              <input class="form-input inner-input" [(ngModel)]='proposed_filter.replace_cost' style="width: 50%" type="number"/>
              <br>
              <p class="form-label top-divider"> Annual cost:</p>
              <input class="form-input inner-input" [(ngModel)]='proposed_filter.annual_cost' style="width: 50%" type="number"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END FOURTH STEP -->
    
    

    <!-- FOOTER -->
    <div class="row footer-view" *ngIf='step!=5'>
      <div class="col col-auto  col-footer">
        <mat-icon class='footer-icon-active' *ngIf='step==1'>fiber_mannual_record</mat-icon>
        <mat-icon class='footer-icon' *ngIf='step!=1'>fiber_mannual_record</mat-icon>
        <p class="{{footer_class[0]}}" (click)='setStep(1)'>Company Information</p>
      </div>
      
      <div class="col col-auto col-footer">
        <mat-icon class='footer-icon-active' *ngIf='step==2'>fiber_mannual_record</mat-icon>
        <mat-icon class='footer-icon' *ngIf='step!=2'>fiber_mannual_record</mat-icon>         
        <p class="{{footer_class[1]}}" (click)='setStep(2)'>Customer Filtration System</p>
      </div>
      
      <div class="col col-auto col-footer">
        <mat-icon class='footer-icon-active' *ngIf='step==3'>fiber_mannual_record</mat-icon>
        <mat-icon class='footer-icon' *ngIf='step!=3'>fiber_mannual_record</mat-icon>
        <p class="{{footer_class[2]}}" (click)='setStep(3)'>Current Filter</p>
      </div>

      <div class="col col-auto col-footer">
        <mat-icon class='footer-icon-active' *ngIf='step==4'>fiber_mannual_record</mat-icon>
        <mat-icon class='footer-icon' *ngIf='step!=4'>fiber_mannual_record</mat-icon>
        <p class="{{footer_class[3]}}" (click)='setStep(4)'>Proposed Filter</p>
      </div>
    
      <div class="col col-auto col-footer">
        <mat-icon class='footer-icon-active' *ngIf='step==5'>fiber_mannual_record</mat-icon>
        <mat-icon class='footer-icon' *ngIf='step!=5'>fiber_mannual_record</mat-icon>
        <p class="{{footer_class[4]}}" (click)='setStep(5)'>Compare</p>
      </div>
    </div>

  </div>
  <!-- SIDE BUTTONS -->
  <div class="side-button side-button-left" *ngIf='step!=1' (click)='setStep(step-1)'>
    <p class="side-button-text" >{{current_left_text}}</p>
  </div>
  <div class="side-button side-button-right" *ngIf='step!=5' (click)='setStep(step+1)'>
    <p class="side-button-text">{{current_right_text}}</p>
  </div>

  <!-- RESULTS -->
  <div class="item results" *ngIf='step==5'>
      <div class="loader" *ngIf='loader'>
          <p>Calculating...</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf='!loader'>
        <h2 class="result-tittle">BEST CHOICE</h2>
        <br>
        <p class="result-description">{{defaultText}}</p>
        <br>
        <div class="row" style="width:90%;margin-left: 10%;">
          <div class="col col-md-6" style='text-align:left'>
            <h6>You will annually save</h6>
            <p class="savings">
              {{(((((systemTest.current_filter.current_values.total_cost) - (systemTest.proposed_filter.optimize_values.total_cost)).toFixed(2))*100)
                /(systemTest.current_filter.current_values.total_cost)).toFixed(2)}} %
            </p>
            <div class="row saving-container" style="text-align:left">
              <p>Annual filtration cost savings: 
                <span class="saving-number">
                &nbsp;{{((systemTest.current_filter.current_values.total_cost) - (systemTest.proposed_filter.optimize_values.total_cost)).toFixed(2) }} USD
                </span>
              </p>
            </div>
          </div>
          <div class="col col-md-6" style='text-align:left'>
            <h5>Optimized proposed filter</h5>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Filter name: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{proposed_filter.name}} </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Avg time between filter changes: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.replacement_cycle}} months  </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Avg Dp when filter changes: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.average_pressure_drop.toFixed(2)}} inch w.g   </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Number of filters change per year: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.number_of_filters_per_year.toFixed(2)}}   </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Annual energy consumption: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.annual_energy_consumption.toFixed(2)}} kWh  </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Annual energy cost: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.annual_energy_cost.toFixed(2)}} USD  </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Filter replacement cost: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.filter_replacement_cost.toFixed(2)}} USD </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">Annual cost: </p>
              </div>
              <div class="col col-md-6" style="text-align:left">
                <p class="table-list-item">{{systemTest.proposed_filter.optimize_values.total_cost.toFixed(2)}} USD </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h2 class="result-tittle" style="color:#2b0a9f">COMPARE</h2>
        <br><br>
        <h5 style="text-align: left;margin-left: 10%;padding-left: 15px">Overall view</h5>
        <div style="margin-left:20%;">
          <div class="top-spinner" *ngIf='!showMainGraphic'>
            <p>Loading chart...</p>
            <mat-spinner class="main-spinner" diameter=90 mode="indeterminate"></mat-spinner>
          </div>
          <app-line-chart *ngIf='showMainGraphic' [data]="chartData"></app-line-chart> 
        </div>
        <br><br>
        <div *ngFor='let r of rows; let i = index'>
          <h6 class="compare-title">{{r.title}}</h6>
          <div class="row" style="width:90%;margin-left: 10%;">
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-5" style='text-align:left'>
                      <h6>You will annually save</h6>
                      <p class="savings medium" [style.color]='r.color'>
                        {{r.data.savings_porcent}} %
                      </p>
                      
                    </div>
                    <div class="col col-md-7" style='text-align:left'>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Filter name: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{current_filter.name}} </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Avg time between filter changes: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.replacement_cycle}} months  </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Avg Dp when filter changes: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.average_pressure_drop.toFixed(2)}} inch w.g   </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Number of filters change per year: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.number_of_filters_per_year.toFixed(2)}}   </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Annual energy consumption: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.annual_energy_consumption.toFixed(2)}} kWh  </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Annual energy cost: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.annual_energy_cost.toFixed(2)}} USD  </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Filter replacement cost: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.filter_replacement_cost.toFixed(2)}} USD </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-md-7" style="text-align:left">
                          <p class="table-list-item">Annual cost: </p>
                        </div>
                        <div class="col col-md-5" style="text-align:left">
                          <p class="table-list-item">{{r.data.total_cost.toFixed(2)}} USD </p>
                        </div>
                      </div>
                    </div>
                    <div class="row saving-container full" style="text-align:left">
                      <p>Annual filtration cost savings:
                        <span class="saving-number saving-right" [style.color]='r.color'>
                        &nbsp;{{r.data.savings}} USD
                        </span>
                      </p>
                    </div>
                  </div>
            </div>
            
            <div class="col col-md-6">
                <div class="spinner-container" *ngIf='!showGraphics'>
                  <p>Loading chart...</p>
                  <mat-spinner class="my-spinner" diameter=70 mode="indeterminate"></mat-spinner>
                </div>
                <app-simple-chart *ngIf='showGraphics' [data]="r.graphData" color=1></app-simple-chart> 
            </div>
          </div>
          <hr style="width:80%;margin-left:10%">
        </div>
      </div>
      <br><br><br><br>
    </div>
    <!-- END RESULTS -->