#div1 {
    position: relative;
    height: 400px;
    width: 33%;
    margin: 50px;
    background-color: #f8f8f8;
}

#div2 {
    padding:10px;
    text-align:right;
    position: absolute;
    color:white;
    margin-top:109%;
    margin-left:-10%;
    width:400px;
    left:0;
    background-color: blue;
    transform: rotate(270deg);
    transform-origin:0% 0%;
}
.form-header{
	padding:10px;
    background-color:white;
    box-shadow:0px 2px 0px 0px #eee;
    font-weight:bold;
}